.notes_sidebar{
    width:20%;
    cursor: pointer;
    background-color: var(--primary);
    color:var(--secondary);
    box-shadow: 2px 2px 4px var(--primary);
    height: 100%;
    /* padding:10px; */
}
