@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');
:root {
  --primary: #25274d;
  --secondary: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
 font-family: 'Montserrat', sans-serif;
}
button{
  cursor: pointer;
}