.navigation {
  width: 100%;
  background-color: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}
.navigation a {
  color: var(--primary);
}
.navigation_userIcon {
  font-size: 2.5rem !important;
  color: var(--primary);
  margin: 1rem !important;
}
.navigation img {
  height: 60px;
  width: 60px;
}
.navigation_search {
  border: 2px solid var(--primary);
  outline: none !important ;
}
.navigation_search:focus {
  outline: none;
  box-shadow: none;
  border-color: var(--primary);
}
