.signUp {
  width: 50%;
  /* height: 85vh !important; */
  /* overflow: hidden; */
  margin: 20px auto;
  border: 1px solid var(--secondary);
  padding: 1.5em;
  background-color: var(--primary);
  color: var(--primary);
  border-radius: 10px;
  text-align: center;
  text-transform: capitalize;
  color:var(--secondary);
  font-size: 1em;
}
.signUp h2,
.signup p
{
  font-size:2.5em;
}
.signUp input {
  margin: 1rem auto;
}
.signUp_radio {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.form-check {
  display: grid !important;
  place-items: center !important;
}
.signUp button {
  font-weight: 900;
  margin-top: 8px;
  background-color: rgb(115, 196, 221);
  color: black !important;
  padding: 0.5rem;
  text-decoration: none !important;
  margin-bottom: 1em;
}
.signUp button:hover,
.signUp button:focus {
  background-color: var(--secondary);
  outline: none;
  color: var(--primary);
  border: none;
  box-shadow: none;
}
.signUp a{
  text-decoration: none;
  font-size:1.2em;
  font-weight:700;
  color: rgba(236, 47, 79, 0.884);
}
.select.form-control{
 
  margin:16px 0!important;
}
.signUp a:hover{
  color:var(--secondary)!important;
}
.signUp input:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}



.alert-fixed {
    position:fixed; 
    top: 20px; 
    left:50%;
    transform: translatex(-50%) !important;
    width: 60%;
    z-index:9999; 
    border-radius:0px
}

@media only screen and (max-width: 600px) {
  .signUp {
    width: 90% !important;
    padding: 1em;
  }
  .signUp input {
    width: 100% !important;
  }
}
