.file {
  flex: 0 0 45%;
  margin: 10px;
  font-size: 1rem;
  /* margin: 1rem; */
  /* height: 600px; */
  box-shadow: 3px 3px 3px var(--primary);
  background-color: var(--primary);
  color: var(--secondary);
  font-family: 'Montserrat', sans-serif;
  border-radius: 10px;
  cursor: pointer;
  /* margin:10px; */
}
.tooltip-inner {
  background-color: var(--primary);
  padding: 6px;
  max-width: 260px;
}
.copy-form {
  display: flex !important;
  flex-wrap: nowrap !important;
  border-radius: 3px;
  margin-bottom: 9px;
  background-color: var(--primary);
  color: var(--primary);
}
.copy-form input {
  flex: 0 0 80% !important;
  width: 80%;
  /* background-color: gray; */
  padding: 3px;
  border: none;
  font-weight: 700;
  color:var(--primary);

  /* opacity: 0.5;   */
  /* color:var(--secondary); */
}
.copy-form button {
  flex: 0 0 20%;
  border: none;
  background-color: var(--secondary);
  color: var(--primary);
  padding: 3px;
}
.file h4 {
  text-transform: capitalize;
  color: var(--secondary) !important;
  font-weight: 700;
}
.file .card-header {
  border-bottom: 1px solid rgba(128, 128, 128, 0.849);
}
.file blockquote > p {
  text-align: right;
  font-size: 1rem;
  color: var(--secondary);
  font-style: italic;
  font-weight: 200;
  margin-bottom: 0;
}
.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 12px 15px;
  flex-wrap: nowrap;
  border-top: 1px solid rgba(128, 128, 128, 0.849);
}
.file a {
  color: var(--primary);
  font-weight: 700;
}
.file_top {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.card-footer > button {
  outline: none;
  margin: 6px;
  /* width: 60px; */
  height: 40px;
  border: var(--primary);
  color: var(--primary);
  background-color: var(--secondary);
  border-radius: 5px;
  padding: 6px;
  font-weight: 800;
}

.card-footer > button:hover,
.card-footer > button:focus,
.card-footer > button:active {
  color: var(--primary) !important;
  background-color: var(--secondary) !important;
  border: none !important;
  outline: none !important;
  border-radius: none !important;
}
.card-footer a {
  text-decoration: none;
}

.card-body {
  padding: 10px !important;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.category {
  display: flex;
  /* align-items:center; */
  /* justify-content: space-around; */
}
.category h6 {
  border: 1px solid gray;
  padding: 6px;
  margin: 5px;
  margin-bottom: 4px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px gray;
}
@media only screen and (max-width: 900px) {
  .file {
    flex: 0 0 80%;
  }
}
