.body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  overflow: hidden !important;
  height: 85vh;
}
.body a {
  display: block;
  width: 50%;
  text-decoration: none;
  align-self: center;
  text-align: center;
  color: white;
}
.body_notes,
.body_discussion {
  height: 85vh;
  overflow-y: hidden;
  background-color: #376e6f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body_discussion {
  background-color: #da7b93;
}

.body_notes:hover,
.body_discussion:hover {
  opacity: 0.8;
}
.body_icon {
  font-size: 3rem !important;
}
