.notes_main {
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 2rem; */
  color: var(--primary);
  width: 80%!important;
}
.nofile {
  background-color: var(--primary);
  color: var(--secondary);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 7px var(--primary);
  margin-top: 10px;
}

.notes_main h4 {
  color: red;
  border: 2px solid var(--primary);
  border-radius: 5px;
  padding: 4px;
}
.notes_main_grid {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content:space-evenly;  
}
.notes_main > button,
.notes_main > button .MuiSvgIcon-root {
  margin: 0 auto;
  display: flex;
  align-items: center;
  /* width: 10%; */
  padding: .3rem;
  padding-bottom: 0;
  background-color: var(--secondary);
  outline: none;
  border: none;
  color: var(--primary);
  font-size: 2.5em;
  font-weight: 800;
}
.notes_main > button:hover,
.notes_main > button:focus,
.notes_main > button:active,
.notes_main > button .MuiSvgIcon-root {
  background-color: var(--secondary) !important;
  border: none !important;
  color: var(--primary);
  outline: none !important;
  box-shadow: none !important;
}
