.login {
  width: 50% !important;
  margin: 15px auto;
  border: 1px solid var(--secondary);
  padding: 2em;
  background-color: var(--primary);
  /* color: var(--secondary);
   */
   color:white;
  border-radius: 10px;
  text-align: center;

}
.login a{
  text-decoration: none;
  font-size:1.2em;
  font-weight:700;
  color: rgba(236, 47, 79, 0.884);
}
.login input {
  margin: 1rem;
}
.login input:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}
.login_avatar {
  margin: 3px auto;
  color: var(--secondary) !important;
  background-color: var(--primary)b6 !important;
}
.login_email,
.login_password {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login_icon {
  font-size: 2rem !important;
}
.login button {
  /* border-color: var(--primary); */
  width: 90px;
  background-color: var(--secondary);
  color: var(--primary);
  padding: 0.5rem;
  text-decoration: none !important;
  margin-bottom: 1rem;
  font-weight: 600;
}
.login button:hover,
.login button:focus {
  background-color: var(--secondary);
  opacity: 0.7;
  outline: none;
  color: var(--primary);
  border: none;
  box-shadow: none;
}
@media only screen and (max-width: 600px) {
  .login_icon {
    display: none !important;
  }
  .login {
    width: 90% !important;
    padding: 1rem;
  }
}
